html {
    height: 100%;
}

body {
    margin: 10px;
    padding: 10px;
    height: 100%;
    color: gold;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s107-td-17045_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1e434b6e02b8dc3b0bbff0799db7f7a7");
  
      
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}

button{
    font-size: 14pt;
}

.start_button {
    top:20%;
    background-color:#bb54f2;
    color: #fff;
    border:none; 
    border-radius:5px; 
    padding:10px;
    min-height:15px; 
    min-width: 80px;
  }

  .boxed {
    border: 1px solid rgb(0, 0, 0) ;
    background-color: #fff;
    max-width: 160px;
  }

  .lobbybox {
    border: 1px solid rgb(0, 0, 0) ;
    background-color: #fff;
    width: 300px;
    height: 350px;
  }

  .new_button {
    top:20%;
    background-color:#bb54f2;
    color: #fff;
    border:none; 
    border-radius:5px; 
    padding:10px;
    min-height:15px; 
    min-width: 80px;
  }

  .join_button {
    top:20%;
    background-color:#bb54f2;
    color: #fff;
    border:none; 
    border-radius:5px; 
    padding:10px;
    min-height:15px; 
    min-width: 80px;
  }


.enter_button{
    background: gold;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 10px;
    border-color: gold goldenrod rgb(165, 122, 42);
    color: black;
}
