.prompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-style: italic;
}

.input_prompt{
    width: 70%;
    text-overflow: clip;
    
}


#timer {
    display: flex;
    align-items: center;
    font-family: "Fira Sans", sans-serif;  
    padding: 30px; 
    background: #1d81af;
    margin: 20px 0; 
    border-radius: 5px; 
    color: white; 
}

#timer span {
    font-weight: bold; 
    font-size: 30px; 
}
